

pageCard{
    max-width: 500px;
    margin: auto;
}

.navbar{
    margin-left:5px;
    width:100%;
  }

.reviewItem{
    width: 300px !important;
}

.carousel {
  width:1500px;
  height:300px;
  margin: auto;
}

.carouselDiv{

}

.wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
 
  .player 
  {
    margin: 0 auto;
    border:20px solid #000;
    border-radius: 20px !important

  
  }

  .promoVideo{
  text-align: center;
  }


  .mainLogo{
max-height: max-content;
   

  }

  .headerText{
    font-size: large;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)
  }

  .reviewStars{
    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)
  }

 
  
  // // {
  // //   position: absolute;
  // //   text-align: center;
  // //   top: 0;
  // //   left: 50%;
  // //   right: 50%;
  // //   width: 80%;
  // //   height: 80%;
  // //   border:20px solid #000;
  // //   border-radius: 20px !important
  // // }