

pageCard{
    max-width: 1500px;
    margin: auto;
}

.navbar{
    margin-left:5px;
    width:100%;
  }

.reviewItem{
    width: 300px !important;
}

.carousel {
  width:1500px;
  height:300px;
  margin: auto;
}

.carouselDiv{

}

.wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
 
  .player 
  {
    margin: 0 auto;
    border:20px solid #000;
    border-radius: 20px !important

  
  }
  .headerArea{
   
  }

  .promoVideo{
    display: block;
    margin-left: auto;
     margin-right: auto;
 border-radius: 20px;
 text-align: center;
 max-width: 350px;

 }




  .headerText{
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: larger;
    font-weight: bold;
    text-align: center;

  }
  .headerText2{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: large;
font-weight: 600;
    text-align: center;
    color:#007bff;;
  
  }

  .headerText3{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: medium;

    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)
  }
  .reviewStars{
    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)
  }
  

  .priceText{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: x-large;

    text-align: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1)
  }

 
  
  // // {
  // //   position: absolute;
  // //   text-align: center;
  // //   top: 0;
  // //   left: 50%;
  // //   right: 50%;
  // //   width: 80%;
  // //   height: 80%;
  // //   border:20px solid #000;
  // //   border-radius: 20px !important
  // // }