
.pageCard{
    max-width: 1000px;
    margin: auto;
}


// div.scrollmenu {
//     background-color: transparent;
//     overflow: auto;
//     white-space: nowrap;
//     justify-content: center;
//     align-items: center;
//   }
  
//   div.scrollmenu div {
//     display: inline-block;
//     color: transparent;
//     text-align: center;
//     padding: 14px;
//     text-decoration: none;
//   }
 
.vcentre {
    display: table-cell;
  

  }

  div.scrollmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    max-height: 150px;
  }
  
  div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    
  }
  
  div.scrollmenu div:hover {background: rgb(248,248,250);
    background: linear-gradient(180deg, rgba(248,248,250,1) 0%, rgba(42,172,226,1) 49%, rgba(8,205,250,1) 79%, rgba(0,212,255,1) 100%);
  }

  .scrollmenuPreview {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenuPreview div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
  

  .centerHorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
max-height: 50px;
  }

  .previewImage{
    border-radius: 2%;
    border-color: grey;
    border-style: dashed;
    border-width: 2px;
    height: 300px !important;
    width: 300px !important;
    justify-content: center;
    align-items: center;
    text-align:center;
    display: flex;
}

  .first {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }
  
  .second {
    position: absolute;
    left: 25%;
    top:25%;
    display: block;
    max-width: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .red{
    color: red;
}

 .card {
max-width: 75px;
max-height: 100px;
   }



    // .scrolling-wrapper-preview {
  //   padding-top: 10px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   white-space: nowrap;
  //   flex-direction: row !important;
  //   -webkit-overflow-scrolling: touch;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  
  //   .card {
  //     display: inline-block;
  //     padding: 20px;
  //   }
  // }