.pageCard{
  max-width: 1500px;
  margin: auto;
  height: 100%;
  padding: 0;
}

.vcentre {
  display: table-cell;
  vertical-align: middle
}

.previewContainer{
  align-items: center!important;
  justify-content: center!important;
  text-align: center!important;
}

div.scrollmenu {
  background-color: #f8f9fa!important;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 2px;
  max-height: 100px;
  overflow-y: hidden;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

div.scrollmenu div {
  display: inline-block;
  text-align: center;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}


.scrollmenuPreview {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  color:  lightsteelblue;
  background-color: lightsteelblue;
  text-align: center;
  background-image: url('./../Photos/gallery Wall-B&W.jpeg');
  padding-top: 40px;
  padding-bottom: 60px;
}

.scrollmenuPreview div {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.centerHorizontal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage{
  height: 280px !important;
  width: 280px !important;
  justify-content: center;
  align-items: center;
  text-align:center;
  display: flex;
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

.first {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

.second {
  position: absolute;
  left: 25%;
  top:25%;
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.red{
  color: red;
}

div.styleHolder div:hover {
  background: lightskyblue;
}

.styleHolder{
  display: flex;
  overflow-y: auto;
  height: 110px;
  justify-content: center;
}

.imageStyle{
  max-width: 70px;
  max-height: 70px;
}

.imageStyleDiv{
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}

.imagetext{
  margin-top: 2px;
  font-weight: 700;
}

.lightblue{
  color: lightskyblue !important;
  background-color: lightskyblue !important;
  background: lightskyblue !important;
}

.blue{
  color: blue !important;
}

.red{
  color: red !important;
}

.gray{
  color: gray !important;
}