.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.formContainer{
    width: 90%;
    border-radius: 2%;
    border-color: black;
    height: max-content;
}

div.formContainer div{
    margin: 2px !important;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}
.inputItem{
    margin: 2px !important;
    padding: 10px !important;
}

.exitIcon{
    color: red;
}
.exitButton{
    background: transparent;
    border: none;
}
