.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.formContainer{
    width: 90%;
    border-radius: 2%;
    border-color: black;
    height: max-content;
}

div.formContainer > div{
    margin: 2px !important;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}
.inputItem{
    margin: 2px !important;
    padding: 10px !important;
}

.exitIcon{
    color: #333;
}
.exitButton{
    background: transparent;
    border: none;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
    font-size: 9px;
    background: #fff;   
    &:hover{
        outline: none;
    }
}
