.footerHolder {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  position: fixed;
  text-align: center;
  max-width: 100%;
  }

.footer {
  text-align: center;
  width: 1000px;
  }

.footerButton{
  width: 100%;
}