.footerHolder {
  background: white;
  bottom: 0;
  position: fixed;
  text-align: center;
  max-width: 1500px;
  z-index: 99;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(50, 50, 50, 0.2) 0px -2px 5px;
  font-size: larger;
  }

.footerButton{
  text-align: center;
  max-height: 100vh;
  width: 80%;
  height: 80%;
<<<<<<< HEAD
=======
  max-width: 400px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.footerButton:hover{
  box-shadow: 0 3px 12px rgba(0, 123, 255, 0.3);
}
.card-header, .card-footer{
  background: #fff;
>>>>>>> develop
}