.dropdown-menu {
    right: 0;
    left: auto;
}

.mainLogo{
    max-width: 50%;
    max-height: 50px;
    border: 0;
  }

.imageContainer{
    justify-content: center;
    display: flex;
    text-align: center;
}

.blue{
    color: blue;
}