input[type=file] { 
    visibility: hidden;
    opacity: 0.0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 
    /* IE 5-7 */
    filter: alpha(opacity=0);
  
    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;
 
    /* older Safari browsers */
    -khtml-opacity: 0.0;
 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}
  
.uploadButton{
    border-radius: 2%;
    border-color: #007bff;
    border-style: dashed;
    border-width: 2px;
    height: 250px !important;
    width: 250px !important;
    justify-content: center;
    align-items: center;
    text-align:center;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}
  
  .imageContainer{
    border-width: 2px;
    align-items: center;
    text-align:center;
    display: flex;
  }

  
  @keyframes pulse {
      0% {
          transform: scale(0.95);
          border-color: grey;
        //   box-shadow: 0 0 0 0 rgba(0, 123, 255, 1);
      }
  
      70% {
          border-color: #007bff;
          transform: scale(1);
        //   box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
  
      100% {
          border-color: grey;
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
  }
  @keyframes pulse2 {
    0% {        
        color: #007bff;  
         
    }

    70% {
        color: grey;   
    }

    100% {
        color: #007bff;  
    }
}


  .uploadButtonMouseOver{
    border-radius: 16px;
    border-color: grey;
    border-style: dashed;
    border-width: 5px;
    height: 250px !important;
    width: 250px !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-shadow: 0 0 0 0 black;
    transform: scale(1);
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    // -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    // box-shadow: 0 4px 16px rgba(0,0,0,.12);
    &.animatePulse{
        animation: pulse 2s infinite;
        .hover_plus_icon{
            animation: pulse2 2s infinite;
        }
    }
    &:hover{
        .hover_plus_icon{
            opacity: 0;
            visibility: hidden;
        }
    }
}

div.uploadButtonMouseOver > div{
    // display: flex;
    padding: 0px !important;
    height: 100%;
    width: 100%;
    padding: 10px 0;
}
.uploadIcon img {
    width: 46px;
}

.outer {
    display: flex !important;
    flex-direction: column !important;
    padding: 0px !important;
    height: 100%;
    width: 100%;
}

 .file_upload_top{
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
 }
 .file_upload_buttom{
    height: 50%;
    width: 100%;
    padding-right:0px;
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // &:hover{
    //     .social_icons{
    //         ul {
    //             li{
    //                 i{
    //                     color: #27bdd8;
    //                 }
    //             }
    //         }
    //     } 
    // }
    h4{
        font-size: 14px;
        flex: 0 0 100%;
        word-break: break-all;
        color: #333;
        font-weight: 700;
        white-space: pre-wrap;
    }

 }
 .social_icons{
    ul{
        list-style: none;
        margin-bottom: 5px;
        padding-left: 0;
        li{
            font-size: 18px;
            + li{
                margin-left: 10px;
            }
            img{
                width: 20px;
            }
            // i{
            //     color: #7d7d7d;
            //     font-size: 22px;
            //     -webkit-transition: all ease-in-out 300ms;
            //     -moz-transition: all ease-in-out 300ms;
            //     transition: all ease-in-out 300ms;
            // }            
        }
       
    }

 }

 .uploadFromPcText {
    z-index: 3;
    font-size: 16px;
    font-weight: 700;
    color: #848685;
    margin: 10px 0 0;
}

 div.outer div:hover {
    background: #e6fbff;
}


 .socialIcon{
     margin-left: 5px;
     margin-right: 5px;
 }

 
.hover_plus_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 90px;
    background: #fff;
    z-index: 4;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}